@font-face {
  font-family: "Upheaval TT -BRK-";
  font-style: normal;
  font-weight: normal;
  src: local("Upheaval TT -BRK-"),
    url("../../public/upheavtt.woff") format("woff");
}
$pixel-font: "Upheaval TT -BRK-";
